<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mt-20">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Danh Sách Người Dùng</h3>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-primary mb-20" (click)="add()">Thêm</button>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of users">
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.email }}</td>
                                <td>
                                    <span class="label" 
                                        (click)="updateStatus(item.id)"
                                        [class.label-default]="item.status" 
                                        [class.label-primary]="!item.status"
                                    >
                                        {{ item.status ? 'Active' : 'Deactive' }}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" (click)="edit(item.id)"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger" (click)="delete(item.id)">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mt-20" [class.hidden]="isHidden">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ isEditing ? 'Cập nhật' : 'Thêm' }}</h3>
                </div>
                <div class="panel-body">
                    <form (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
                            <span class="label label-warning" *ngIf="isSubmitted && !isNameValid">Tên phải lớn hơn 6 ký tự</span>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" class="form-control" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
                            <span class="label label-warning" *ngIf="isSubmitted && !isEmailValid">Email không đúng định dạng</span>
                        </div>
                        <div class="form-group">
                            <label for="">Status</label>
                            <select class="form-control" [(ngModel)]="user.status" [ngModelOptions]="{standalone: true}">
                                <option value="0">Deactive</option>
                                <option value="1">Active</option>
                            </select>
                        </div>
                        <button [disabled]="isDisabled()" type="submit" class="btn btn-primary">Lưu Lại</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
